@model Ejemplo1.Models.UsuarioView
@{
    ViewBag.Title = "Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-title">Usuarios <small>Listar</small></h2>
<section class="widget">
    <header>
        <h4>
           Usuarios en la base de datos
        </h4>
        <div class="widget-controls">
            <a data-widgster="expand" title="Expandir" href="#"><i class="glyphicon glyphicon-plus"></i></a>
            <a data-widgster="collapse" title="Colapsar" href="#"><i class="glyphicon glyphicon-minus"></i></a>
            <a data-widgster="close" title="Cerrar" href="#"><i class="glyphicon glyphicon-remove"></i></a>
        </div>
    </header>
    <div class="widget-table-overflow">
        <table id="myTable" class="table table-striped table-lg mt-sm mb-0 sources-table">
            <thead>
                <tr>
                    <th class="source-col-header">Id</th>
                    <th>Nombre</th>
                    <th>Tipo de Documento</th>
                    <th class="hidden-xs">Número de Documento</th>
                    <th>Correo</th>
                    <th>Rol</th>
                </tr>
            </thead>    
            <tbody>
                @foreach (var a in Model.usuarios)
                {
                <tr>
                    <td>@a.ID</td>
                    <td>@a.NOMBRE</td>
                    <td>@a.DOC_TYPE</td>
                    <td>@a.DOCUMENTO</td>
                    <td>@a.CORREO</td>
                    <td>@a.ROL</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>


